lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# This is the instanbul folder that is created
coverage

#-----------------------------------------------------------------------------
# IDE files
#-----------------------------------------------------------------------------

# IntelliJ
.idea
*.iml

# Eclipse